html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding-bottom: 30px;
    position: relative;
    background-color: rgb(255, 255, 255);
    /* background-image: linear-gradient( to top, #ffffff 11.2%, rgb(235, 235, 235) 92.5% ); */
    /* color: rgba(255, 135, 135, 0.07);; */
}

footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    margin-top: 100px;
}

.footer{
    margin: 0;
    padding: 0;
}

.footer-title{
    color: black !important;
    font-weight: 600;
}

#footer{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-item{
    margin: 5px 15px;
    font-size: 0.9em;
    text-align: left;
    width: 100%;
}

#copyright{
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 0.8em;
    text-align: center;
    background: rgba(255, 255, 255, 0.78);
}

/* *********** */

  
  .form{
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  

/* Table Styling */
.my-table-container {
    overflow-x: auto;
    margin: 10px;
    margin-bottom: 50px;
}

.my-table {
    width: 100%;
    border-collapse: collapse;
}

.my-table th, .my-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.my-table th {
    background-color: #f2f2f2;
}

.my-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.my-table tbody tr:hover {
    background-color: #ddd;
}

