{% extends 'base.html' %}
{% load static %}

{% block meta-tags %}


{% endblock %}

{% block body %}
<section>
    <div class="row container  ">
        <div class="col s12 l5 offset-l3 center form">
          <img src="{% static 'images/ncba-nobg.png' %}" width="250" height="250">
          <h2 class="flow-text yellow">Go for it</h2>
          <h2> Log In</h2>
          <form action="" method="post" class="white-text-form" autocomplete="off">
            {% csrf_token %}

            {% if log_in.errors %}
            {% for field in log_in %}
                {% for error in field.errors %}
                    <div class=" red-text">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in log_in.non_field_errors %}
                <div class=" red-text">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
            {% endif %}

            {% for field in log_in %}
              <div class="input-field">
                {% if field.label == 'Username' %}
                <i class="material-icons prefix">person</i>
                {% elif field.label == 'Password' %}
                  <i class="material-icons prefix">lock</i>
                {% endif %}
                {{ field }}
                <label for="{{field.id_for_label}}">{{ field.label }}</label>
              </div>

            {% endfor %}

            <div class="input-field ">
              <button type="submit" class="btn black yellow-text">Log In</button>
               <a href="#" class="right">Forgot Password</a>
            </div>
          </form>
          <br>
         <div class="left">
           <h6 class="">Don't Have an Account?</h6>
           <a href="signup" class="left ">Create an Account</a>
        </div>
    </div>
    </div>
    </section>

{% comment %} contact us {% endcomment %}

{% endblock %}